/*====================================*\
  CSS Structure
\*====================================*/


/**
 * 01. Tailwind import
 * 02. Custom styles
 */

 /* ========================================================================= *\
 * 01. Tailwind import
\* ========================================================================= */

@tailwind base;
@tailwind components;
@tailwind utilities;


 /* ========================================================================= *\
 * 02. Custom styles
\* ========================================================================= */


* {
	box-sizing: border-box;
}

body {
	background-color: "#f5fafe";
	font-family: 'Inter', sans-serif;
}